qdrant-client
sentence-transformers
rank-bm25
transformers
torch
langchain
langchain-community
langchain-core
fastapi
uvicorn
streamlit
pydantic
python-dotenv
pandas
numpy
tqdm
unstructured
pymupdf
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart